.post-hot {
    .panel-body {
        ul {
            padding: 8px !important;
            li {
                width: 50% !important;
                float: left;
                min-height: 51px;
                padding: 10.85px 5px !important;
                &:nth-child(odd) {
                    padding-right: 5px;
                }
                &:nth-child(even) {
                    padding-left: 5px;
                }
                &:nth-child(5),
                &:nth-child(6) {
                    border-bottom: none;
                }
            }
        }
    }
}