        @media (min-width: 768px) {
            .page-content {
                .left {
                    width: 26%;
                    float: left;
                }
                .main {
                    padding: 0;
                    margin-left: 0;
                    width: calc(74% - 10px);
                    float: right;
                    .content {
                        width: 100%;
                        .post-special {
                            .panel-body {
                                ul {
                                    li {
                                        &:nth-child(4),
                                        &:nth-child(5),
                                        &:nth-child(6) {
                                            border-bottom: none;
                                        }
                                        a {
                                            &:first-child {
                                                img {
                                                    height: 60px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .product {
                            .item {
                                width: calc(33.333% - 7px);
                                margin-bottom: 0px;
                                &:first-child,
                                &:nth-child(2) {
                                    margin-right: 10px;
                                    float: left
                                }
                                &>a {
                                    &:first-child {
                                        width: 100%;
                                        img {
                                            height: 125px;
                                        }
                                    }
                                    &:nth-child(2) {
                                        margin-left: 0px !important;
                                        width: 100%;
                                    }
                                }
                                .desc {
                                    margin: 0px;
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .menu-top {
                        width: 100%;
                        .container-fluid {
                            .navbar-collapse {
                                &>.nav {
                                    &>li {
                                        a {
                                            padding: 0px 20px;
                                        }
                                    }
                                }
                            }
                        }
                        height: 50px;
                        padding: 8px 0px;
                        .container-fluid {
                            .navbar-collapse {
                                &>.nav {
                                    border: 1px solid #a0bcf5;
                                    .caret {
                                        // margin: 2px 15px 0 0;
                                        display: none;
                                    }
                                    &>li {
                                        @include border(0px, 1px solid #a0bcf5, 0px, 0px);
                                        a {
                                            padding: 0px 10px;
                                        }
                                    }
                                    &:first-child {
                                        margin: 0px 0px 0px 8px;
                                        li {
                                            &:last-child {
                                                border-right: 0px;
                                            }
                                        }
                                    }
                                    &:last-child {
                                        margin: 0px 8px 0px 0px;
                                        li {
                                            background: #4080ff;
                                            &>a {
                                                border-radius: 4px;
                                                color: #fff;
                                                margin: 0px;
                                            }
                                        }
                                    }
                                    &:last-child {
                                        li {
                                            border-right: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .right {
                        display: none;
                    }
                }
            }
        }